<svg:line role="presentation"
          [attr.x1]="data.coords.from.x1"
          [attr.y1]="data.coords.from.y1"
          [attr.x2]="data.coords.from.x2"
          [attr.y2]="data.coords.from.y2"
          [attr.stroke-width]="10"
          [attr.stroke]="data.color"
          [attr.transform]="getTransformString('from')"
/>
<svg:line role="presentation"
          [attr.x1]="data.coords.to.x1"
          [attr.y1]="data.coords.to.y1"
          [attr.x2]="data.coords.to.x2"
          [attr.y2]="data.coords.to.y2"
          [attr.stroke-width]="10"
          [attr.stroke]="data.color"
          [attr.transform]="getTransformString('to')"
/>
<svg:circle [attr.aria-label]="data.name"
            role="button"
            [attr.cx]="data.coords.from.x2"
            [attr.cy]="data.coords.from.y2"
            [attr.r]="6 + circleStroke"
            [attr.stroke]="data.color"
            [attr.stroke-width]="circleStroke"
            [attr.fill]="'#fff'"
            (click)="onClick($event)"
            [attr.transform]="getTransformString('from')"
            [class.active]="data.active"
            class="circle"
/>
<svg:text role="presentation"
          [attr.x]="data.coords.from.x2 + 8"
          [attr.y]="data.coords.from.y2 + 10"
          [attr.font-size]="textSize"
          [attr.transform]="getTextTransformString()"
          #text
>{{data.name}}</svg:text>
