<div class="container">
  <svg [attr.height]="mapSize.y"
       [attr.width]="mapSize.x"
       xmlns:svg="http://www.w3.org/1999/html"
       [style.transform]="'translate(' + translate.x + 'px, ' + translate.y + 'px) scale(' + translate.scale + ')' | safe:'style'"
       (pan)="onPinchPan($event)"
       (panend)="onPinchPanEnd()"
       (pinch)="onPinchPan($event)"
       (pinchend)="onPinchPanEnd()"
       (click)="shrinkListView()">
    <svg:g *ngFor="let segment of segments" map-segment [data]="segment" (select)="onSelected($event)" />
  </svg>
</div>
<map-selector *ngIf="selectorData.show"
              [@fadeInOut]
              [data]="selectorData.data"
              [coords]="selectorData.coords"
              (select)="onStation($event)"
              (close)="onSelectorClose()"
></map-selector>
