.app {
  position: relative;
  height: 100%;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
}

.picker {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

map-view {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .app {
    margin: 0;
  }
}
