@import "../_shared.scss";

input {
  width: calc(100% - 20px);
  height: 100%;
  font-size: 0.75em;
  outline: none;
  border: 1px solid transparent;
  background-color: hsl(220, 12%, 95%);
  border-radius: 3px;
  padding: 0 10px;
  &.ng-touched.ng-invalid {
    border-color: #e37675;
  }
}

input::placeholder {
  color: $grey-text;
}
