<div *ngIf="pathList.distance !== 0" class="list-view flex_container_column">
  <div   class="header flex_container_row">
    <h2>{{from.name}} to {{to.name}}</h2>
  </div>
  <div *ngIf="!listViewState.isHidden" [@slideInOut]="slideInState" class="flex_container_column">
    <div role="button" tabindex="0" (keyup.enter)="onExpand()" (click)="onExpand()" class="show-hide">
      <p *ngIf="!listViewState.isExpanded">Show all stations</p>
      <p *ngIf="listViewState.isExpanded">Show less</p>
    </div>
    <div role="list" class="list flex_container_column">
      <list-section *ngFor="let item of pathList.stations | listTransformer:listViewState.isExpanded"
                    [station]="item"
                    [@listExpand]="stateName"
      ></list-section>
    </div>
  </div>
  <div class="footer">
    <p *ngIf="from">Distance: {{pathList.distance}}</p>
    <button class="btn primary wide" (click)="onHide()">{{(listViewState.isHidden) ? "Show" : "Hide"}} list</button>
  </div>
</div>
