
@import "../shared";

$main-color: #fff;

.dropdown-container {
  background-color: $main-color;
  overflow-y: auto;
  z-index: 10;
  border-bottom: 5px solid hsl(176, 100%, 24%);
  transition: height 0.5s ease-out;
}

.dropdown-item {
  //line-height: $item-height;
  padding: 8px 3px;
  margin: 3px 5px;
  border-radius: 5px;
  color: $dark-text;
  cursor: pointer;
  &:hover {
    background-color: #ecf5fc;
    color: #366ea9;
  }
}
